<!DOCTYPE html>
<html>
	<head>
		<title>首页</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="css/common.css">
	</head>
	<body>
		<div id="header">
            <div id="header-main" class="w980">
                	<a href="#" class="logo icon-bg"></a>
                    <span class="copy green radius hei fl">企业版</span>
                    <div class="company fr">
                    	<div class="company_logo fl">
                        	<img src="images/temp/logo.png"/>
                        </div>
                        <div class="company_infos fr">
                            <div class="certification overhide">
	                            <span class="qiye green radius hei fl">企业</span>
                                <span class="status fl">认证中</span>
                            </div>
                            <div class="name">
                            	<span class="fl">北京同达信恒知识产权代理有限公司</span>
                                <i class="icon_down icon-bg fl"></i>
                                <i class="icon_out icon-bg fl"></i>
                                <a href="#" class="fl">退出</a>
                           </div>                         
                        </div>
                    </div>
            </div>
		</div>
		<div id="main" class="w980">
			<div id="left">
   				<dl id="nav">
                    <dt>
                        <i class="icon_manage icon-bg fl"></i><span><a href="">管理</a></span>
                    </dt>
                    <dd class="nav-cur"><a href="#">花名册管理</a></dd>
                    <dd><a href="#">标签管理</a></dd>
                    <dt>
                        <i class="icon_cf icon-bg fl"></i><span><a href="">财富</a></span>
                    </dt>  
                    <dd><a href="#">名片交换记录</a></dd>
                    <dd><a href="#">通话记录</a></dd>
                    <dd><a href="#">邮件记录</a></dd>
                    <dt>
                        <i class="icon_tj icon-bg fl"></i><span><a href="">统计</a></span>
                    </dt>  
                    <dd><a href="#">员工统计</a></dd>
                    <dd><a href="#">名片统计</a></dd>
                    <dd><a href="#">企业统计</a></dd>
                    <dt>
                        <i class="icon_kz icon-bg fl"></i><span><a href="">扩展</a></span>
                    </dt>
                    <dd><a href="#">机构实名验证</a></dd>
				</dl>
            </div>
			<div id="right">
            	开始工作吧
            </div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div id="footer">	
			<div class="w980">
                <h1 class="hei">见安存 · 即见真实</h1>
                版权所有：杭州安存网络科技有限公司 Copyright2008-2014 ICP证：浙ICP备11033732号 增值电信业务经营许可证：浙B2-20120278
            </div>
		</div>
	</body>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript">
    
	</script>
</html>