<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ancun.xinhu.biz.mappers.SysLoginLogMapper">
	<resultMap id="sysLoginLogMap" type="sysLoginLog">		
					<id column="id" property="id"/><!-- 登录日志id -->			
					<result column="user_name" property="userName"/><!-- 登录名 -->			
					<result column="user_type" property="userType"/><!-- 用户类型(0:个人,1:企业) -->			
					<result column="login_status" property="loginStatus"/><!-- 登录状态(0:失败,1:成功,2:注销) -->			
					<result column="gmt_create" property="gmtCreate"/><!-- 登录时间 -->			
					<result column="ip" property="ip"/><!-- 登录ip -->			
			</resultMap>

	<insert id="insert" parameterType="sysLoginLog"  useGeneratedKeys="true" keyProperty="id" >
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
			select SEQ_sys_login_log.nextval from dual
		</selectKey>
		insert into sys_login_log(
		<if test="_databaseId == 'oracle'">ID,</if>
		<trim prefix="" prefixOverrides=",">
			<if test="userName != null">,user_name</if>
			<if test="userType != null">,user_type</if>
			<if test="loginStatus != null">,login_status</if>
			,gmt_create
			<if test="ip != null">,ip</if>
		</trim>		
		)values(
		<if test="_databaseId == 'oracle'">#{id},</if>
		<trim prefix="" prefixOverrides=",">
			<if test="userName != null">,#{userName,jdbcType=VARCHAR}</if>
			<if test="userType != null">,#{userType,jdbcType=INTEGER}</if>
			<if test="loginStatus != null">,#{loginStatus,jdbcType=INTEGER}</if>
			,<include refid="common.now" />
			<if test="ip != null">,#{ip,jdbcType=VARCHAR}</if>
		</trim>		
		)
	</insert>

	<update id="update" parameterType="sysLoginLog">
		update sys_login_log
		<set>			
												<if test="userName != null">user_name=#{userName,jdbcType=VARCHAR},</if>	
																<if test="userType != null">user_type=#{userType,jdbcType=INTEGER},</if>	
																<if test="loginStatus != null">login_status=#{loginStatus,jdbcType=INTEGER},</if>	
																<if test="gmtCreate != null">gmt_create=#{gmtCreate,jdbcType=TIMESTAMP},</if>	
																<if test="ip != null">ip=#{ip,jdbcType=VARCHAR},</if>	
									</set>		
		where 					 id=#{id}
			</update>
	
	    	<select id="load" parameterType="int" resultMap="sysLoginLogMap" >
    		select * from sys_login_log where id=#{id}
    	</select>
	
	<sql id="queryCommonSql">
		FROM sys_login_log sll
		<where>
							    								<if test="idArray != null">
						sll.id in
						<foreach collection="idArray" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
					</if>
        									    			            		            			<if test="userName != null and userName.trim() !=''">and sll.user_name = #{userName}</if>
        			        									    			            								<if test="userType != null">and sll.user_type = #{userType}</if>												
                            									    			            								<if test="loginStatus != null">and sll.login_status = #{loginStatus}</if>												
                            									    			            								<if test="gmtCreateFrom != null">and sll.gmt_create >= #{gmtCreateFrom}</if>
						<if test="gmtCreateTo != null">
							<choose>
            					<when test="_databaseId == 'oracle'"><![CDATA[and sll.gmt_create < #{gmtCreateTo} + 1]]></when>
            					<when test="_databaseId == 'mysql'"><![CDATA[and sll.gmt_create < date_add(#{gmtCreateTo}, interval 1 day)]]></when>
            				</choose>							
																																											</if>
																													        									    			            		            			<if test="ip != null and ip.trim() !=''">and sll.ip = #{ip}</if>
        			        							</where>
	</sql>
	
	<sql id="sortSql">		
		<choose>			
			<when test="sort != null and sort.trim() !=''">
				order by ${sort}
			</when>
			<otherwise>
				<if test="sortByDefault">
					order by sll.GMT_CREATE DESC
				</if>
			</otherwise>
		</choose>
	</sql>

	<select id="queryList" parameterType="sysLoginLogQuery" resultMap="sysLoginLogMap">
		<include refid="common.pageBegin" />
		select sll.id				<choose>
			<when test="columns != null and columns.length>0">
				<foreach collection="columns" index="index" item="item">,${item}</foreach>
			</when>
			<otherwise>
        		        			,sll.user_name
        			        		        			,sll.user_type
        			        		        			,sll.login_status
        			        		        			,sll.gmt_create
        			        		        			,sll.ip
        			        					</otherwise>
		</choose>
		<include refid="queryCommonSql" />
		<include refid="sortSql" />
		<include refid="common.pageEnd" />
	</select>

	<select id="queryCount" parameterType="sysLoginLogQuery" resultType="java.lang.Integer">
		select count(1)
		<include refid="queryCommonSql" />
	</select>
	
	<update id="updateStatus" parameterType="sysLoginLog">		
		update sys_login_log set status=#{status} where   id=#{id} 	</update>
	
	    	<delete id="delete" parameterType="int">
    		delete from sys_login_log where id=#{id}
    	</delete>
	</mapper>