<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="#getComponentUrl()/jquery/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="#getComponentUrl()/jquery/form/jquery.form.js"></script>
		<script type="text/javascript" src="#getComponentUrl()/jquery/boxy/javascripts/jquery.boxy.js"></script>
		<script type="text/javascript" src="#getComponentUrl()/jquery/jquery-validate/jquery.validate.js"></script>
		<script type="text/javascript" src="#getComponentUrl()/jquery/jquery-validate/localization/messages_cn.js"></script>
		<script type="text/javascript" src="#getComponentUrl()/jquery/jquery-validate/lib/jquery.metadata.js"></script>
		<script type="text/javascript" src="#getComponentUrl()/ancun/core.js"></script>
		<script type="text/javascript" src="#getComponentUrl()/ancun/core.validate.js"></script>
		<script type="text/javascript" src="#getComponentUrl()/ancun/core.list.js"></script>
		<script type="text/javascript" src="#getWebresourcesUrl()/js/common.js"></script>
		<link rel="stylesheet" type="text/css" href="#getWebresourcesUrl()/css/common.css">
		<link rel="stylesheet" type="text/css" href="#getWebresourcesUrl()/css/user-define.css">
        <link rel="stylesheet" type="text/css" href="#getWebresourcesUrl()/css/registration.css">
		<script type="text/javascript" src="scripts/login/forget-password.js"></script>
	    <script type="text/javascript">
        	var _server = '#getAppServer()';
        </script>
	</head>
	<body>
		<div id="header">
            <div id="header-main" class="w980">
                	<a href="index" class="logo icon-bg"></a>
                    <span class="copy green radius hei fl">企业版</span>
                    <div class="registration">
                        <span>我已注册，现在就</span>
                        <input type="button" onclick="window.location.href = 'index';" value="登录"/>
                    </div>
            </div>
		</div>
									<input id="trueId" type="hidden"/>
            <div  id="main" class="w980 basic-info">
				
				<div class="fl_content" id="content">
                    <div class="fl_w980 fl_w814">
                        <p class="fl_title">找回密码</p>
                      	
                        <div class="Contentbox">
                            <div class="register_l">
                        		  <form id="mobileRegisterForm" method="post" >
                                        <div class="entry">
                                            <label for="mobile">手&nbsp;机&nbsp;号：</label>
                                            <input type="text" class="form_input" value="" name="mobile" id="mobileaccount">	
                                        </div>
                                        <div class="entry">
                                            <label for="mobile" class="yzm_text">校&nbsp;验&nbsp;码：</label>
                                            <input type="text" class="form_input_yzm" value="" name="jiaoyancode" id="m_jiaoyancode"/>
                                            <input class="clickbtn_on"  type="button" value="获取手机校验码" id="getCode"/>
                                        </div>
                                        <div class="entry">
                                            <label for="mobile" class="yzm_text">验&nbsp;证&nbsp;码：</label>
                                            <input type="text" class="form_input_yzm"  name="vcode" id="vcode" />
                                            <img src="#getAppServer()/validateCode?height=40" width="98" height="40" id="imgVcodeFm" class="pointer"/>
                                            ##<span class="tip_show">看不清楚，<a href="javascript:void(0)">换一张图片</a></span>
                                            <span class="tip_show" id="phonecode">点击图片更换验证码</span>
                                        </div>
                                        <input  class="regbt" name="" type="button"  value="提&nbsp;交" id="mobileSubmit"/>
                                    </form>
                				
                			</div>
                        </div>
                	</div>
                        
                    </div>
					
					
				<div class="fl_content"  id="content_1" style="display:none">
    <div class="fl_w980 fl_w814">
    	<div id="title">
    	#if($rp)
        <p class="fl_title">请重新设置您的密码</p>
      	#else
      	<p class="fl_title">请设置您的密码，找回密码</p>
      	#end
      	</div>
        <div id="Tab1">
            
            <div class="Contentbox">
                <div id="con_one_1">
                    <div class="register_l">
                        <form id="setpwd" >
                            <div class="hide">
                                <input type="text"  id="registerName" value="$!registerName">
                                <input type="text"  id="rp" value="$!rp">	
                            </div>
                            <div class="entry">
                                <label for="pwd">密&nbsp;&nbsp;码：</label>
                                <input type="password" class="form_input"  name="pwd" id="pwd"/>
                                <span class="tip_show">密码需为6-20个字符,由字母、数字和符号组成</span>	
                                <p class="msg">请输入密码</p>
                            </div>
                            <div class="entry">
                                <label for="repwd">再次输入：</label>
                                <input type="password" class="form_input" value="" name="repwd" id="repwd">	
                                <p class="msg">请再次输入密码</p>
                            </div>
                            <input  class="regbt" name="" type="button"  value="提&nbsp;交" id="setpwdSubmit"/>
                        </form>
					</div>
                </div>
                
            </div>
        </div>
        
        ##<p class="fl_title hide" id="rps">找回密码：重置密码成功，请点击登录  </p>
        
        ##<p class="fl_title hide" id="res">注册成功：3秒后自动跳转到登录页面  </p>
   	  
        
        
    </div>
</div>


<div id="container_2" style="display:none">
        <div class="fl_w980 mtop20 hide" id="rps">
        <div class="prompt_b" >
            <p class="ok">
            <img src="#getWebresourcesUrl()/images/index/icon_ok.png" />恭喜您：重置密码成功<br/>
            <a href="javascript:void(0)" style="font-size:30px;color:rgb(0, 178, 255)" onClick="login()">请点击登录</a>
            </p>
        </div>
	    </div>
	    
    <div>  
				
		<div id="footer">	
    			<div class="w980">
                    <h1 class="hei">见安存 · 即见真实</h1>
                    版权所有：杭州安存网络科技有限公司 Copyright2008-2014 ICP证：浙ICP备11033732号 增值电信业务经营许可证：浙B2-20120278
                </div>
    		</div>
	</div>
</div>	
                </div>
				
				

    	</body>
</html>