#set($layout="commons/layout-register.vm")
#set($screen_title="账号注册-基本信息")
#set($screen_jsArray=["login/registration-basic-info"])
            <div class="fl form">
                <form >
					<input id="entId" value="$!{entInfo.id}" style="display:none"/>
                    <p>
                        <label for="">手机号</label>
                        <input type="text" placeholder="手机号" value="$!{entInfo.mobile}" id="phone" class="text">
                    </p>
                    <p class="verify-code">
                        <label for="">短信验证码</label>
                        <input type="text" placeholder="手机短信验证码" value="$!oldCode" id="code" class="text">
                        <input type="button" value="免费获取验证码" id="phonecode" class="button" style="font-size:10px"/>
                    </p>
                    <p>
                        <label for="">密码</label>
                        <input type="password"  placeholder="密码" id="pwd" class="text">
                    </p>
                    <p class="tip">
                        <span>字母、数字或者英文符号任意两种组合，最短6位，区分大小写</span>
                    </p>
                    <p class="passwd-again">
                        <label for="">确认密码</label>
                        <input type="password" placeholder="密码" id="repwd" class="text">
                    </p>
                    <p class="agreement">
                        <input type="checkbox" id="cb" #if($!oldCode) checked="checked" #end class="checkbox">
                        <label for="cb">
                            我同意并遵守
                            <a href="scripts/信乎用户使用协议.docx">《信乎用户使用协议》</a>
                        </label>
                    </p>
                    <p>
                        <input type="button" id="nextButton" value="下一步" class="submit"/>
                    </p>
                </form>
            </div>
        </div>
